<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <style type="text/css">
  p{

  }
  </style>
</head>
<body>
   
   
   <div id="demo01">
     <nav>
       <a v-on:click="makeActive">{{content}}</a>
     </nav>
     <p v-if="show"><input type="text" v-model="content" name=""></p>
   </div>
   <script type="text/javascript">
      new Vue({
        el: "#demo01",
        data: {
          show: true,
          content: "123213"
        },
        methods: {
          makeActive: function(){
             return this.show = !this.show
          }
        }
      });
   </script>
</body>
</html>